<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.appslure.rentee" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".SeekerQuestion"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--
            <activity
            android:name=".Signin"
            android:label="@string/title_activity_signin" >
        </activity>
        -->
        <!--
        <activity
            android:name=".HomeScreen"
            android:label="@string/title_activity_home_screen" >
        </activity>
        -->
        <activity android:name=".SearchLister" >
        </activity>
        <!--
        <activity android:name=".SearchSeeker" >
        </activity>
        -->
        <activity android:name=".QwnerQuestionOne" >
        </activity>
        <activity android:name=".OwnerQuestionTwo" >
        </activity>
        <activity android:name=".OwnerQuestionThree" >
        </activity>
        <activity android:name=".RoomateQuestionOne" >
        </activity>
        <activity android:name=".RoomateQuestionTwo" >
        </activity>
        <activity android:name=".RoomateQuestionThree" >
        </activity>
        <!--<activity android:name=".SeekerQuestion" >
        </activity>-->
    </application>

</manifest>
